<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<import resource="classpath:spring-config-v001.xml" />
	<import resource="classpath:spring-config-v002.xml" />
	<bean id="ApplicationManager2" class="com.albpal.ggame.appmanagers.ApplicationManagerTextBased">
		<constructor-arg>
			<map>
					 <entry key="0001" value-ref="Version0001"/>
					 <entry key="0002" value-ref="Version0002"/>
			</map>
	 	</constructor-arg>
	</bean>
	<bean id="ApplicationManager" class="com.albpal.ggame.appmanagers.ApplicationManagerFileBased" />
</beans>
